footer{
    background-color: #2E353B;
    color: gray;
    a{
        color: gray;
        &:hover{
            color: #359bed !important;
        }
    }
    .footer-border-top{
        border-top: 1px solid #394348;
        font-size: 14px;
        font-weight: 400;
        
        .fa-facebook{
            background: #3c5b9b; padding: 10px; border-radius: 5px;
        }
        .fa-twitter {
            background: #359bed; padding: 10px; border-radius: 5px;
        }
        .fa-instagram{
            background: #a50240; padding: 10px; border-radius: 5px;
        }
        .fa-youtube{
            background: #f03434; padding: 10px; border-radius: 5px;
        }
    }
    .copyright{
        a{
            color: #fff;
        }
    }
    .map{
        max-width: 220px;
        height: 120px;
    }

}