.product-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow: hidden;
    height: 250px;

    .product-img-div {
        overflow: hidden;
        .product-img{
            width: 60% !important;
        }

        .cart-btn {
            bottom: 0;
            left: 0;
            width: 100%;
            background: #FF5555;
            border: none;
            padding: 2px;
            color: #fff;
            display: none;
        }
    }

    .leftservice-icon {
        transform: translateX(-150px);
        font-size: 12px;

        .fa-heart {
            background: #0C48E4;
            color: #fff;
            padding: 5px;
        }

        .fa-link {
            background: #0C48E4;
            color: #fff;
            padding: 5px;
        }

        .fa-cart-shopping {
            background: orange;
            color: #fff;
            padding: 5px;
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.005);
        transition: 0.9s;
        .cart-btn {
            display: block;
        }

        .product-img {
            transform: scale(1.1);
            transition: 0.9s;
        }

        .leftservice-icon {
            transform: translateX(0);
            transition: 0.9s;
        }
    }


}