@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600');

body {
    font-family: 'Barlow', sans-serif;
    background-color: #F2F3F7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}