.fa-facebook{
    background: #3c5b9b; padding: 10px; border-radius: 5px;
}
.fa-twitter {
    background: #359bed; padding: 10px; border-radius: 5px;
}
.fa-instagram{
    background: #a50240; padding: 10px; border-radius: 5px;
}
.fa-youtube{
    background: #f03434; padding: 10px; border-radius: 5px;
}